.heading {
    color: rgb(28, 146, 120);
}

.card {
    width: 20rem;
}

.likeBtn {
    float: right;
}

.overFlow {
    overflow: auto;
}
.h-100 {
    background: url(https://www.script-tutorials.com/demos/360/images/stars.png) top center #000;
}